.container {
  text-align: center;
  padding: 2rem 0;
}

.form {
  padding: 0.35rem 1rem;
  border-color: black;
}

.btn {
  background-color: var(--main-bg-color);
  border-left: none;
  padding: 0.35rem 1rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: black;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7ba87;
}

@media (min-width: 650px) {
  .container {
    padding-bottom: 3rem;
  }
}
